In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

data = np.array([1, 3, 5, 2, 3, 7, 8, 4, 10, 0, 6, 7, 3, 0, 3, 0, 5, 7, 10, 1, 4, 9, 3])

def compute_mean(dataset):
        # make a sum variable
    sum = 0

    # loop over the listand add up all total
    for t in dataset:
        sum = sum + t

    # divide the total by the length of the list
    mean = sum / len(dataset)

    # return the mean
    return data

compute_mean(data)

np.mean(data)

def compute_median(dataset):
    # check if the dataset is even or odd
    if dataset % 2 != 0:
      # if odd, subtract the length by 1, divide in half, and then take the next element
      median_index = (len(dataset) - 1)/2 + 1
      median = dataset[median_index]
    else:
      # otherwise, divide the dataset in half and take the mean of the two middling elements
      left_index = len(dataset)/2 + 1
      right_index = len(dataset)/2 - 1
      median = (dataset(left_index) + dataset(right_index))/2
    return median

median = np.median(dataset)


import scipy.stats as stats

mode = stats.mode(data)

print(mode)
print("The median is" + str(median))

import pandas as pd

df = pd.DataFrame([[10, 20, 30, 40], [7, 14, 21, 28], [55, 15, 8, 12],
                   [15, 14, 1, 8], [7, 1, 1, 8], [5, 4, 9, 2]],
                  columns=['Apple', 'Orange', 'Banana', 'Pear'],
                  index=['Basket1', 'Basket2', 'Basket3', 'Basket4',
                         'Basket5', 'Basket6'])

print("\n----------- Calculate Mean -----------\n")
print(df.mean())

print("\n----------- Calculate Median -----------\n")
print(df.median())

print("\n----------- Calculate Mode -----------\n")
print(df.mode())

df.describe()

ModeResult(mode=array([3]), count=array([5]))
The median is4.0

----------- Calculate Mean -----------

Apple     16.500000
Orange    11.333333
Banana    11.666667
Pear      16.333333
dtype: float64

----------- Calculate Median -----------

Apple      8.5
Orange    14.0
Banana     8.5
Pear      10.0
dtype: float64

----------- Calculate Mode -----------

   Apple  Orange  Banana  Pear
0      7      14       1     8

           Apple     Orange     Banana       Pear
count   6.000000   6.000000   6.000000   6.000000
mean   16.500000  11.333333  11.666667  16.333333
std    19.180719   7.257180  11.587349  14.555640
min     5.000000   1.000000   1.000000   2.000000
25%     7.000000   6.500000   2.750000   8.000000
50%     8.500000  14.000000   8.500000  10.000000
75%    13.750000  14.750000  18.000000  24.000000
max    55.000000  20.000000  30.000000  40.000000